.team-roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2em;
    position: absolute;
    top: 23%;
}

.player-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    border-radius: 10px;
    padding: 1em;
    margin-inline: 0.5em;
    margin-top: 0.5em;
    transition: 0.2s ease-in-out;
    background-image: linear-gradient(to bottom, var(--post-bg), #0b0211); 
}


.player-box:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}

.player-images {
    width: 100%;
    height: auto;
    max-height: 120px; /* Adjust the max height as desired */
    object-fit: cover;
}

.player-text {
    top: 15px;
    position: relative;
    padding: 10px;
}
  
.player-height {
    color: rgb(187, 187, 187);
}

.player-weight {
    color: rgb(187, 187, 187);
}
  
.player-name {
    color: rgb(187, 187, 187);
    font-size: 0.95rem;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.61);
}

.player-jersey {
    color: rgb(187, 187, 187);
}
  
.player-position {
    color: rgb(187, 187, 187);
    font-size: 0.75rem;
    text-align: center;
}