#signup-form {
    background-color: var(--post-bg);
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 350px;
}

#signup-form label {
    font-weight: 600;
    margin-bottom: 5px;
}

#signup-form input {
    border: none;
    box-sizing: border-box;
    height: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
}

#signup-form-btn {
    background-color: var(--accent);
    border: none;
    margin-top: 20px;
    height: 35px;
}

