nav {
    align-items: center;
    background-color: var(--navbar);
    border-bottom: 3px solid var(--accent);
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
    width: 100vw;
    z-index: 999;
}

#logo {
    margin-left: 75px;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    margin-right: 200px;
    width: 35%;
}

#nav-links a {
    box-sizing: border-box;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

#nav-links a:after {
    border-bottom: solid 3px var(--accent);
    content: '';
    display: block;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#nav-links a:hover:after {
    transform: scaleX(1);
}

#nav-links a:hover {
    color: var(--light-grey);
}